.page-heading {
    position: relative;
    padding: 30px 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    font-size: 1.25rem;
    /*background-image: url("/assets/img/bg.png")*/
}

.page-header {
  position: relative;
}

#login-panel {
	text-align: right;
}

@media screen and (min-width: 991px) {
  .vcenter {
    display: flex;
    align-items: center;     /* Align the flex-items vertically */
    justify-content: center; /* Optional, to align inner flex-items
                                horizontally within the column  */
  }
}
